*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

header{
    text-align: center;
}
nav{
    background-color: aquamarine;
    border-radius:40px;
    

    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
   
  }
.nav_item{
    font-size:2rem;
    display: inline-block;
}