body{
    font-family: 'PT Serif', serif;
    font-family: 'Solway', serif;
    background-color: bisque;
    
    
}

header{
    text-align: center;
}
nav{
    background:linear-gradient(rgb(61, 176, 29),rgb(235, 235, 8));
    border-radius:40px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
   
  }
.nav_item{
    font-size:30px;
    font-weight: 100;
    display: inline-block;
}

.container{
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
    border-color: black;

    
   
}
article{
    min-width: 450px;
    background-color: white;
    border-radius: 40px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border-style:solid;
    margin: 30px;
}


article:hover{
    background:linear-gradient(rgb(61, 176, 29),rgb(235, 235, 8));
    
}

.block{
    display: block;
    text-align: center;
    padding: 0px;
}

.padding{
    padding:2px;
}
li{
    list-style-type: none;
}
